# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Own passwords and such
settings.py

# Data
db.sqlite3

# Unit test / coverage reports
.cache
.pytest_cache/
.coverage

# mypy
.mypy_cache/
