{% load pathfinder_filters %}

<div class="section abilities">
    <table>
        <thead>
            <tr>
                <th class="no-width" style="text-align: center;">Ability Name</th>
                <th class="no-width" style="text-align: center;">Ability Score</th>
                <th class="no-width" style="text-align: center;">Ability Modifier</th>
                <th class="no-width" style="text-align: center;">Temp Adjustment</th>
                <th class="no-width" style="text-align: center;">Temp Modifier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 24%;"></td>
                <td style="width: 19%;"></td>
                <td style="width: 19%;"></td>
                <td style="width: 19%;"></td>
                <td style="width: 19%;"></td>
            </tr>
            <tr>
                <td><subscripted-element class="inverted" style="width: 100%;" subscript-style="width: 100%;" subscript="STRENGTH">STR</subscripted-element></td>
                <td><div class="boxed number2 value">{{ character.strength|or_space }}</div></td>
                <td><div class="boxed number2 value">{{ character.strength_modifier|or_space }}</div></td>
                <td><div class="boxed number2 value"></div></td>
                <td><div class="boxed number2 value"></div></td>
            </tr>
            <tr>
                <td><subscripted-element class="inverted" style="width: 100%;" subscript-style="width: 100%;" subscript="DEXTERITY">DEX</subscripted-element></td>
                <td><div class="boxed number2 value">{{ character.dexterity|or_space }}</div></td>
                <td><div class="boxed number2 value">{{ character.dexterity_modifier|or_space }}</div></td>
                <td><div class="boxed number2 value"></div></td>
                <td><div class="boxed number2 value"></div></td>
            </tr>
            <tr>
                <td><subscripted-element class="inverted" style="width: 100%;" subscript-style="width: 100%;" subscript="CONSTITUTION">CON</subscripted-element></td>
                <td><div class="boxed number2 value">{{ character.constitution|or_space }}</div></td>
                <td><div class="boxed number2 value">{{ character.constitution_modifier|or_space }}</div></td>
                <td><div class="boxed number2 value"></div></td>
                <td><div class="boxed number2 value"></div></td>
            </tr>
            <tr>
                <td><subscripted-element class="inverted" style="width: 100%;" subscript-style="width: 100%;" subscript="INTELLIGENCE">INT</subscripted-element></td>
                <td><div class="boxed number2 value">{{ character.intelligence|or_space }}</div></td>
                <td><div class="boxed number2 value">{{ character.intelligence_modifier|or_space }}</div></td>
                <td><div class="boxed number2 value"></div></td>
                <td><div class="boxed number2 value"></div></td>
            </tr>
            <tr>
                <td><subscripted-element class="inverted" style="width: 100%;" subscript-style="width: 100%;" subscript="WISDOM">WIS</subscripted-element></td>
                <td><div class="boxed number2 value">{{ character.wisdom|or_space }}</div></td>
                <td><div class="boxed number2 value">{{ character.wisdom_modifier|or_space }}</div></td>
                <td><div class="boxed number2 value"></div></td>
                <td><div class="boxed number2 value"></div></td>
            </tr>
            <tr>
                <td><subscripted-element class="inverted" style="width: 100%;" subscript-style="width: 100%;" subscript="CHARISMA">CHA</subscripted-element></td>
                <td><div class="boxed number2 value">{{ character.charisma|or_space }}</div></td>
                <td><div class="boxed number2 value">{{ character.charisma_modifier|or_space }}</div></td>
                <td><div class="boxed number2 value"></div></td>
                <td><div class="boxed number2 value"></div></td>
            </tr>
        </tbody>
    </table>
</div>