<table>
    <tr>
        <th>Ability Name</th>
        <th>Ability<br>Score</th>
        <th>Ability<br>Modifier</th>
    </tr>
    <tr>
        <td class="sheet-statlabel">STR<div class="subscript">Strength</div></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.strength }}"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.strength_modifier }}"></td>
    </tr>
    <tr>
        <td class="sheet-statlabel">DEX<div style="font-size: 0.65em;">Dexterity</div></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.dexterity }}"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.dexterity_modifier }}"></td>
    </tr>
    <tr>
        <td class="sheet-statlabel">CON<div style="font-size: 0.65em;">Constitution</div></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.constitution }}"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.constitution_modifier }}"></td>
    </tr>
    <tr>
        <td class="sheet-statlabel">INT<div style="font-size: 0.65em;">Intelligence</div></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.intelligence }}"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.intelligence_modifier }}"></td>
    </tr>
    <tr>
        <td class="sheet-statlabel">WIS<div style="font-size: 0.65em;">Wisdom</div></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.wisdom }}"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.wisdom_modifier }}"></td>
    </tr>
    <tr>
        <td class="sheet-statlabel">CHA<div style="font-size: 0.65em;">Charisma</div></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.charisma }}"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.charisma_modifier }}"></td>
    </tr>
</table>