<fieldset class="repeating_acitems">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="sheet-statlabel" style="font-size: 1em; width: 122px;">AC Items</td>
            <td class="sheet-statlabel" style="font-size: 0.65em; width: 58px;">Bonus</td>
            <td class="sheet-statlabel" style="font-size: 0.65em; width: 58px;">Type</td>
            <td class="sheet-statlabel" style="font-size: 0.65em; width: 58px;">Check Penalty</td>
            <td class="sheet-statlabel" style="font-size: 0.65em; width: 58px;">Spell Failure</td>
            <td class="sheet-statlabel" style="font-size: 0.65em; width: 58px;">Weight</td>
            <td class="sheet-statlabel" style="font-size: 0.65em; width: 58px;">Properties</td>
        </tr>
        <tr>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 122px;" disabled="true"></td>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 58px;" disabled="true"></td>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 58px;" disabled="true"></td>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 58px;" disabled="true"></td>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 58px;" disabled="true"></td>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 58px;" disabled="true"></td>
            <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 58px;" disabled="true"></td>
        </tr>
    </table>
</fieldset>