{% load pathfinder_filters %}

<div class="section description">
    <div style="display: flex; flex-wrap: wrap;">
        <subscripted-element subscript="Character Name" subscripted-class="underlined value" style="flex: 1 0 220px;">{{ character.name|or_space }}</subscripted-element>
        <subscripted-element subscript="Alignment" subscripted-class="underlined value" style="flex: 1 0 120px;">{{ character.alignment_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Player" subscripted-class="underlined value" style="flex: 1 0 360px;">{{ character.player|or_space }}</subscripted-element>

        <subscripted-element subscript="Character Level" subscripted-class="underlined value" style="flex: 1 0 360px;">{{ character.class_and_level|or_space }}</subscripted-element>
        <subscripted-element subscript="Deity" subscripted-class="underlined value" style="flex: 1 0 170px;">{{ character.deity|or_space }}</subscripted-element>
        <subscripted-element subscript="Homeland" subscripted-class="underlined value" style="flex: 1 0 170px;">{{ character.homeland|or_space }}</subscripted-element>

        <subscripted-element subscript="Race" subscripted-class="underlined value" style="flex: 1 0 140px;">{{ character.race|or_space }}</subscripted-element>
        <subscripted-element subscript="Size" subscripted-class="underlined value" style="flex: 1 0 60px;">{{ character.size_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Gender" subscripted-class="underlined value" style="flex: 1 0 50px;">{{ character.gender_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Age" subscripted-class="underlined value" style="flex: 1 0 50px;">{{ character.age|or_space }}</subscripted-element>
        <subscripted-element subscript="Height" subscripted-class="underlined value" style="flex: 1 0 75px;">{{ character.height_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Weight" subscripted-class="underlined value" style="flex: 1 0 75px;">{{ character.weight_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Hair" subscripted-class="underlined value" style="flex: 1 0 75px;">{{ character.hair|or_space }}</subscripted-element>
        <subscripted-element subscript="Eyes" subscripted-class="underlined value" style="flex: 1 0 75px;">{{ character.eyes|or_space }}</subscripted-element>
    </div>
</div>