{% load pathfinder_filters %}

<div class="section description">
    <div style="display: flex; flex-wrap: wrap;">
        <subscripted-element subscript="Character Name" subscripted-class="underlined value" style="flex: 3;">{{ character.name|or_space }}</subscripted-element>
        <subscripted-element subscript="Alignment" subscripted-class="underlined value" style="flex: 1;">{{ character.alignment_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Player" subscripted-class="underlined value" style="flex: 3;">{{ character.player|or_space }}</subscripted-element>

        <subscripted-element subscript="Character Level" subscripted-class="underlined value" style="flex: 2;">{{ character.class_and_level|or_space }}</subscripted-element>
        <subscripted-element subscript="Deity" subscripted-class="underlined value" style="flex: 1;">{{ character.deity|or_space }}</subscripted-element>
        <subscripted-element subscript="Homeland" subscripted-class="underlined value" style="flex: 1;">{{ character.homeland|or_space }}</subscripted-element>

        <subscripted-element subscript="Race" subscripted-class="underlined value" style="flex: 6;">{{ character.race|or_space }}</subscripted-element>
        <subscripted-element subscript="Size" subscripted-class="underlined value" style="flex: 2;">{{ character.size_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Gender" subscripted-class="underlined value" style="flex: 2;">{{ character.gender_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Age" subscripted-class="underlined value" style="flex: 2;">{{ character.age|or_space }}</subscripted-element>
        <subscripted-element subscript="Height" subscripted-class="underlined value" style="flex: 3;">{{ character.height_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Weight" subscripted-class="underlined value" style="flex: 3;">{{ character.weight_readable|or_space }}</subscripted-element>
        <subscripted-element subscript="Hair" subscripted-class="underlined value" style="flex: 3;">{{ character.hair|or_space }}</subscripted-element>
        <subscripted-element subscript="Eyes" subscripted-class="underlined value" style="flex: 3;">{{ character.eyes|or_space }}</subscripted-element>
    </div>
</div>