{% load pathfinder_filters %}

<div class="section initiative">
    <subscripted-element class="inverted padded" subscript="MODIFIER">INITIATIVE</subscripted-element>
    <subscripted-element subscript="Total" subscripted-class="boxed number2 value">{{ character.initiative|or_space }}</subscripted-element>
    =
    <subscripted-element subscript="dex modifier" subscripted-class="boxed number2 value">{{ character.dexterity_modifier|or_space }}</subscripted-element>
    +
    <subscripted-element subscript="misc modifier" subscripted-class="boxed number2 value">{{ character.misc_initiative_modifier|or_space }}</subscripted-element>
</div>