{% load pathfinder_filters %}

<div class="section load">
    <table style="font-size:0.7em;" cellpadding="5">
        <tr>
            <td style="width: 60px;">Light Load</td>
            <td class="boxed number2 value">{{ character.light_load|or_space }}</td>

            <td style="width: 60px;">Lift Over Head</td>
            <td class="boxed number2 value">{{ character.lift_over_head|or_space }}</td>
        </tr>
        <tr>
            <td style="width: 60px;">Medium Load</td>
            <td class="boxed number2 value">{{ character.medium_load|or_space }}</td>

            <td style="width: 60px;">Lift Off Ground</td>
            <td class="boxed number2 value">{{ character.lift_off_ground|or_space }}</td>
        </tr>
        <tr>
            <td style="width: 60px;">Heavy Load</td>
            <td class="boxed number2 value">{{ character.heavy_load|or_space }}</td>

            <td style="width: 60px;">Drag Or Push</td>
            <td class="boxed number2 value">{{ character.drag_or_push|or_space }}</td>
        </tr>
    </table>
</div>