{% load pathfinder_filters %}

<div class="section saves">
    <div style="display: flex;">
        <table style="float: left;">
            <thead>
                <tr>
                    <th class="no-width">Saving Throws</th>
                    <th class="no-width">Total</th>
                    <th></th>
                    <th class="no-width">Base Save</th>
                    <th></th>
                    <th class="no-width">Ability Modifier</th>
                    <th></th>
                    <th class="no-width">Magic Modifier</th>
                    <th></th>
                    <th class="no-width">Misc Modifier</th>
                    <th></th>
                    <th class="no-width">Temporary Modifier</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><subscripted-element style="width: 100%;" subscript-style="width: 100%;" subscript="(CONSTITUTION)" class="inverted">FORTITUDE</subscripted-element></td>
                    <td><div class="boxed number2 value">{{ character.fortitude_save|or_space }}</div></td>
                    <td>=</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><subscripted-element style="width: 100%;" subscript-style="width: 100%;" subscript="(DEXTERITY)" class="inverted">REFLEX</subscripted-element></td>
                    <td><div class="boxed number2 value">{{ character.reflex_save|or_space }}</div></td>
                    <td>=</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><subscripted-element style="width: 100%;" subscript-style="width: 100%;" subscript="(WISDOM)" class="inverted">WILL</subscripted-element></td>
                    <td><div class="boxed number2 value">{{ character.will_save|or_space }}</div></td>
                    <td>=</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                    <td>+</td>
                    <td><div class="boxed number2 value">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>

        <subscripted-element subscript="Modifiers" style="margin-top: 0" subscripted-style="width: 150px; height: 6em;" subscript-style="text-align: center;" subscripted-class="boxed value">&nbsp;</subscripted-element>
    </div>
</div>