{% load pathfinder_filters %}

<div class="section weapons">
    <table>
        <tr>
            <th class="half-borders" style="max-width: 260px; font-size: 1.5em;" rowspan="2" colspan="3">
                <div class="inverted inner-round2">Weapon</div>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th class="inverted" style="width: 110px; border-left: 1px solid black;">Attack Bonus</th>
            <th class="inverted" style="width: 100px; border-right: 1px solid black;">Critical</th>
        </tr>
        <tr>
            <td colspan="3" class="value" style="width: 260px; border-left: 1px solid black;">{{ character.attack1.name|or_space }}</td>
            <td class="value" style="width: 110px; border: 1px solid black;">{{ character.attack1.attack_bonus|or_space }}</td>
            <td class="value" style="width: 100px; border: 1px solid black;">{{ character.attack1.critical|or_space }}</td>
        </tr>
        <tr>
            <th class="inverted" style="width: 80px;">Type</th>
            <th class="inverted" style="width: 90px;">Range</th>
            <th class="inverted" style="width: 90px;">Ammunition</th>
            <th colspan="2" class="inverted" style="width: 210px; border-right: 1px solid black;">Damage</th>
        </tr>
        <tr>
            <td class="value" style="width: 80px; border: 1px solid black;">{{ character.attack1.damage_type|or_space }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack1.range|or_slash }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack1.ammunition|or_slash }}</td>
            <td colspan="2" class="value" style="width: 210px; border: 1px solid black;">{{ character.attack1.damage|or_space }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th class="half-borders" style="max-width: 260px; font-size: 1.5em;" rowspan="2" colspan="3">
                <div class="inverted inner-round2">Weapon</div>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th class="inverted" style="width: 110px; border-left: 1px solid black;">Attack Bonus</th>
            <th class="inverted" style="width: 100px; border-right: 1px solid black;">Critical</th>
        </tr>
        <tr>
            <td colspan="3" class="value" style="width: 260px; border-left: 1px solid black;">{{ character.attack2.name|or_space }}</td>
            <td class="value" style="width: 110px; border: 1px solid black;">{{ character.attack2.attack_bonus|or_space }}</td>
            <td class="value" style="width: 100px; border: 1px solid black;">{{ character.attack2.critical|or_space }}</td>
        </tr>
        <tr>
            <th class="inverted" style="width: 80px;">Type</th>
            <th class="inverted" style="width: 90px;">Range</th>
            <th class="inverted" style="width: 90px;">Ammunition</th>
            <th colspan="2" class="inverted" style="width: 210px; border-right: 1px solid black;">Damage</th>
        </tr>
        <tr>
            <td class="value" style="width: 80px; border: 1px solid black;">{{ character.attack2.damage_type|or_space }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack2.range|or_slash }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack2.ammunition|or_slash }}</td>
            <td colspan="2" class="value" style="width: 210px; border: 1px solid black;">{{ character.attack2.damage|or_space }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th class="half-borders" style="max-width: 260px; font-size: 1.5em;" rowspan="2" colspan="3">
                <div class="inverted inner-round2">Weapon</div>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th class="inverted" style="width: 110px; border-left: 1px solid black;">Attack Bonus</th>
            <th class="inverted" style="width: 100px; border-right: 1px solid black;">Critical</th>
        </tr>
        <tr>
            <td colspan="3" class="value" style="width: 260px; border-left: 1px solid black;">{{ character.attack3.name|or_space }}</td>
            <td class="value" style="width: 110px; border: 1px solid black;">{{ character.attack3.attack_bonus|or_space }}</td>
            <td class="value" style="width: 100px; border: 1px solid black;">{{ character.attack3.critical|or_space }}</td>
        </tr>
        <tr>
            <th class="inverted" style="width: 80px;">Type</th>
            <th class="inverted" style="width: 90px;">Range</th>
            <th class="inverted" style="width: 90px;">Ammunition</th>
            <th colspan="2" class="inverted" style="width: 210px; border-right: 1px solid black;">Damage</th>
        </tr>
        <tr>
            <td class="value" style="width: 80px; border: 1px solid black;">{{ character.attack3.damage_type|or_space }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack3.range|or_slash }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack3.ammunition|or_slash }}</td>
            <td colspan="2" class="value" style="width: 210px; border: 1px solid black;">{{ character.attack3.damage|or_space }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th class="half-borders" style="max-width: 260px; font-size: 1.5em;" rowspan="2" colspan="3">
                <div class="inverted inner-round2">Weapon</div>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th class="inverted" style="width: 110px; border-left: 1px solid black;">Attack Bonus</th>
            <th class="inverted" style="width: 100px; border-right: 1px solid black;">Critical</th>
        </tr>
        <tr>
            <td colspan="3" class="value" style="width: 260px; border-left: 1px solid black;">{{ character.attack4.name|or_space }}</td>
            <td class="value" style="width: 110px; border: 1px solid black;">{{ character.attack4.attack_bonus|or_space }}</td>
            <td class="value" style="width: 100px; border: 1px solid black;">{{ character.attack4.critical|or_space }}</td>
        </tr>
        <tr>
            <th class="inverted" style="width: 80px;">Type</th>
            <th class="inverted" style="width: 90px;">Range</th>
            <th class="inverted" style="width: 90px;">Ammunition</th>
            <th colspan="2" class="inverted" style="width: 210px; border-right: 1px solid black;">Damage</th>
        </tr>
        <tr>
            <td class="value" style="width: 80px; border: 1px solid black;">{{ character.attack4.damage_type|or_space }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack4.range|or_slash }}</td>
            <td class="value" style="width: 90px; border: 1px solid black;">{{ character.attack4.ammunition|or_slash }}</td>
            <td colspan="2" class="value" style="width: 210px; border: 1px solid black;">{{ character.attack4.damage|or_space }}</td>
        </tr>
    </table>
</div>