{% for attack in character.attacks %}
    <fieldset class="repeating_weapons">
        <table>
            <tr>
                <td colspan="3" class="sheet-statlabel" style="font-size: 1.5em; width: 260px;">Weapon</td>
                <td class="sheet-statlabel" style="width: 110px;">Attack Bonus</td>
                <td class="sheet-statlabel" style="width: 100px;">Critical</td>
            </tr>
            <tr>
                <td colspan="3"><input class="sheet-inputbox" type="text" style="height: 24px; width: 260px;" disabled="true" value="{{ attack.name }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 110px;" disabled="true" value="{{ attack.attack_bonus }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 100px;" disabled="true" value="{{ attack.critical }}"></td>
            </tr>
            <tr>
                <td class="sheet-statlabel" style="width: 80px;">Type</td>
                <td class="sheet-statlabel" style="width: 90px;">Range</td>
                <td class="sheet-statlabel" style="width: 90px;">Ammunition</td>
                <td colspan="2" class="sheet-statlabel" style="width: 210px;">Damage</td>
            </tr>
            <tr>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 80px;" disabled="true" value="{{ attack.damage_type }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 90px;" disabled="true" value="{{ attack.range|default:"/" }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 90px;" disabled="true" value="{{ attack.ammunition|default:"/" }}"></td>
                <td colspan="2"><input class="sheet-inputbox" type="text" style="height: 24px; width: 210px;" disabled="true" value="{{ attack.damage }}"></td>
            </tr>
        </table>
        {% if attack.note %}{{ attack.note }}{% endif %}
    </fieldset>
{% endfor %}
{% for attack in character.full_attacks %}
    <fieldset class="repeating_weapons">
        <table>
            <tr>
                <td colspan="3" class="sheet-statlabel" style="font-size: 1.5em; width: 260px;">Weapon</td>
                <td class="sheet-statlabel" style="width: 110px;">Attack Bonus</td>
                <td class="sheet-statlabel" style="width: 100px;">Critical</td>
            </tr>
            <tr>
                <td colspan="3"><input class="sheet-inputbox" type="text" style="height: 24px; width: 260px;" disabled="true" value="{{ attack.name }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 110px;" disabled="true" value="{{ attack.attack_bonus }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 100px;" disabled="true" value="{{ attack.critical }}"></td>
            </tr>
            <tr>
                <td class="sheet-statlabel" style="width: 80px;">Type</td>
                <td class="sheet-statlabel" style="width: 90px;">Range</td>
                <td class="sheet-statlabel" style="width: 90px;">Ammunition</td>
                <td colspan="2" class="sheet-statlabel" style="width: 210px;">Damage</td>
            </tr>
            <tr>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 80px;" disabled="true" value="{{ attack.damage_type }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 90px;" disabled="true" value="{{ attack.range|default:"/" }}"></td>
                <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 90px;" disabled="true" value="{{ attack.ammunition|default:"/" }}"></td>
                <td colspan="2"><input class="sheet-inputbox" type="text" style="height: 24px; width: 210px;" disabled="true" value="{{ attack.damage }}"></td>
            </tr>
        </table>
        {% if attack.note %}{{ attack.note }}{% endif %}
    </fieldset>
{% endfor %}
{% if character.attacks_notes %}{{ character.attacks_notes }}{% endif %}