<table cellpadding="5" cellspacing="5">
    <tr>
        <td colspan="2"><input type="text" style="width: 220px;" disabled="true" value="{{ character.name }}"> <br> <label class="description-label">Character Name</label></td>
        <td colspan="2"><input type="text" style="width: 120px;" disabled="true" value="{{ character.alignment_readable }}"> <br> <label class="description-label">Alignment</label></td>
        <td colspan="4"><input type="text" style="width: 360px;" disabled="true" value="{{ character.player }}"> <br> <label class="description-label">Player</label></td>
    </tr>
    <tr>
        <td colspan="4"><input type="text" style="width: 360px;" disabled="true" value="{{ character.class_and_level }}"> <br> <label class="description-label">Character Class and Level</label></td>
        <td colspan="2"><input type="text" style="width: 170px;" disabled="true" value="{{ character.deity }}"> <br> <label class="description-label">Deity</label></td>
        <td colspan="2"><input type="text" style="width: 170px;" disabled="true" value="{{ character.homeland }}"> <br> <label class="description-label">Homeland</label></td>
    </tr>
    <tr>
        <td><input type="text" style="width: 140px;" disabled="true" value="{{ character.race }}"> <br> <label class="description-label">Race</label></td>
        <td><input type="text" style="width: 60px;" disabled="true" value="{{ character.size_readable }}"> <br> <label class="description-label">Size</label></td>
        <td><input type="text" style="width: 50px;" disabled="true" value="{{ character.gender_readable }}"> <br> <label class="description-label">Gender</label></td>
        <td><input type="text" style="width: 50px;" disabled="true" value="{{ character.age }}"> <br> <label class="description-label">Age</label></td>
        <td><input type="text" style="width: 75px;" disabled="true" value="{{ character.height_readable }}"> <br> <label class="description-label">Height</label></td>
        <td><input type="text" style="width: 75px;" disabled="true" value="{{ character.weight_readable }}"> <br> <label class="description-label">Weight</label></td>
        <td><input type="text" style="width: 75px;" disabled="true" value="{{ character.hair }}"> <br> <label class="description-label">Hair</label></td>
        <td><input type="text" style="width: 75px;" disabled="true" value="{{ character.eyes }}"> <br> <label class="description-label">Eyes</label></td>
    </tr>
</table>