<table>
    <tr>
        <td style="width: 38px;" class="sheet-statlabel">
            Load<br>
            <div style="font-size: 0.65em;">light</div>
        </td>
        <td valign="top"><input class="sheet-inputbox" type="text" style="height: 24px; width: 40px;" disabled="true" value="{{ character.light_load }}"><br></td>
        <td style="width: 70px; height: 24px;" class="sheet-statlabel">
            Load<br>
            <div style="font-size: 0.65em;">medium</div>
        </td>
        <td valign="top"><input class="sheet-inputbox" type="text" style="height: 24px; width: 50px;" disabled="true" value="{{ character.medium_load }}"></td>
        <td style="width: 90px;" class="sheet-statlabel">
            Load<br>
            <div style="font-size: 0.65em;">heavy</div>
        </td>
        <td valign="top"><input class="sheet-inputbox" type="text" style="height: 24px; width: 50px;" disabled="true" value="{{ character.heavy_load }}"></td>
    </tr>
</table>
<input class="sheet-inputbox" type="text" style="height: 24px; width: 400px;" disabled="true"><br>
<div style="font-size: 0.5em;">Modifiers</div>