<b>Money</b>
<div style="width: 350px;"><input type="text" style="width: 353px;" disabled="true" value="{{ character.copper }}"><br>CP</div>
<div style="width: 350px;"><input type="text" style="width: 353px;" disabled="true" value="{{ character.silver }}"><br>SP</div>
<div style="width: 350px;"><input type="text" style="width: 353px;" disabled="true" value="{{ character.gold }}"><br>GP</div>
<div style="width: 350px;"><input type="text" style="width: 353px;" disabled="true" value="{{ character.platinum }}"><br>PP</div>
