{% load charsheet_tags %}

<table >
    <tr>
        <td colspan="9" class="sheet-statlabel-big" style="width: 350px;">SKILLS</td>
    </tr>
    <tr>
        <th style="font-size: 0.6em; text-align: left">Skill Names</th>
        <th style="font-size: 0.6em;">Total<br>Bonus</th>
        <th style="font-size: 0.6em;">Trained</th>
    </tr>
    {% for skill in skills %}
        <tr>
            <td class="sheet-skillsbox">{{ skill.name }} {% if skill.trained_only %}*{% endif %}</td>
            <td><input type="text" style="width: 30px;" disabled="true" value="{% skill character skill %}"></td>
            {% trained character skill as tr %}
            <td><input type="checkbox" disabled="true"{% if tr %} checked{% endif %}></td>
        </tr>
    {% endfor %}
</table>
<b>Conditional Modifiers</b><br>
<fieldset class="repeating_conditional_modifiers">
    <input type="text" style="width: 353px;" disabled="true">
</fieldset>