<table cellpadding="10" cellspacing="0">
    <tr>
        <td colspan="3" class="sheet-statlabel-big-gray" style="font-size: 1.5em; width: 450px;">Spells</td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="sheet-statlabel" style="width: 94px;">Spells Known</td>
        <td class="sheet-statlabel" style="width: 94px;">Spell<br>Save DC</td>
        <td class="sheet-statlabel" style="width: 94px;">Level</td>
        <td class="sheet-statlabel" style="width: 94px;">Spells<br>Per Day</td>
        <td class="sheet-statlabel" style="width: 94px;">Bonus Spells</td>
    </tr>
    <tr>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 45px;" disabled="true"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 45px;" disabled="true"></td>
        <td>
            <div class="sheet-inputbox" style="height: 24px; width: 45px;">0</div>
        </td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 45px;" disabled="true"></td>
        <td><input class="sheet-inputbox" type="text" style="height: 24px; width: 45px;" disabled="true"></td>
    </tr>
</table>
<table cellpadding="10" cellspacing="0">
    <tr>
        <td style="font-size: 0.64em;"><input class="sheet-inputbox" type="text" style="height: 34px; width: 450px;" disabled="true"><br>Conditional Modifiers</td>
    </tr>
</table>