body {
    color: black;
    background-color: white;
    font-size: 1em;
    font-family: "American Typewriter";
    font-variant: small-caps;

    width: 297mm; /* A4 width in an attempt to keep the sheet printable */

    border: 1px solid lightgrey;
}

/* only here for debugging, so I can see how each section looks */
.section {
    border: 1px solid darkblue;
}

.logo {
    width: 300px;
    float: left;

    text-align: center;
    font-size: 2em;
    font-family: "Times New Roman";
    font-variant: small-caps;

    padding-right: 10px;
    padding-bottom: 10px;
}

.description subscripted-element {
    padding: 5px;
}

.description .subscript {
    white-space: nowrap;
    width: 100%;
}

.description .subscripted {
    white-space: nowrap;
}

.description:after {
    content: "";
    display: table;
    clear: both;
}

.boxed {
    /* Simulate the look of a disabled input field */
    border: 1px solid lightgrey;
    height: 1.1em;
}

.underlined {
    border-bottom: 1px solid lightgrey;
}

.value {
    font-family: "Arial";
    font-variant: normal;
    padding: 4px 6px;
}

.padded {
    padding: 4px 6px; /* Should be same padding as value */
}

.number2 {
    /* Number of expected digits: 2 */
    text-align: center;
    display: inline-block;
    min-width: 25px;
}

.number3 {
    /* Number of expected digits: 3 */
    text-align: center;
    display: inline-block;
    width: 70px;
}

.inverted {
    color: white;
    background-color: black;
    text-align: center;
}

.subscript {
    font-size: 0.5em;
}

.no-width {
    width: 1px;
}

.inner-round {
    background-image:
        radial-gradient(circle at top left, white 0.5em, transparent 0.5em),
        radial-gradient(circle at bottom left, white 0.5em, transparent 0.5em),
        radial-gradient(circle at top right, white 0.5em, transparent 0.5em),
        radial-gradient(circle at bottom right, white 0.5em, transparent 0.5em);
    padding: 0 1em;
}

.inner-round2 {
    background-image:
        radial-gradient(circle at top left, white 0.55em, transparent 0.55em),
        radial-gradient(circle at bottom left, white 0.55em, transparent 0.55em),
        radial-gradient(circle at top right, white 0.55em, transparent 0.55em);
}

.half-borders {
    background:
        linear-gradient(white 50%, black 50%) bottom left / 1px 100% no-repeat,
        linear-gradient(white 50%, black 50%) bottom right / 1px 100% no-repeat;
}

.page-header {
    text-align: right;
    font-weight: bold;
    text-shadow: 1px 1px 4px grey;

    padding: 10px;
}

.page-footer {
    clear: both;
    page-break-before: always;
}

.page-footer::after {
    font-size: 0.5em;
    content: "\00A9 2009 Paizo Publishing, LLC. Permission granted to photocopy for personal use only"
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid red;
}

th {
    font-size: 0.7em;
    font-weight: normal; /* default in th is bold*/
    text-align: center;
}

tbody {
    text-align: center;
}
