# Requirements for running the test suite.
# Conventions:
#  - Always pin requirements exactly (using ==). This prevents unexpected upgrades breaking the code
#  - Always include dependencies of packages. We install with --no-deps to prevent version clashes between dependencies
#  - Put an empty line and comment line above each requirement, with the dependencies directly underneath


# testing
pytest-django==3.5.1
pytest==5.0.1
atomicwrites==1.3.0
attrs==19.1.0
colorama==0.4.1
importlib-metadata==0.18
zipp==0.5.2
more-itertools==7.2.0
packaging==19.0
pyparsing==2.4.1.1
six==1.12.0
pluggy==0.12.0
py==1.10.0
wcwidth==0.1.7

# mocking (also requires six)
mock==3.0.5

python-dateutil==2.7.5

freezegun==0.3.12

pytest-socket==0.3.3