# Conventions:
#  - Always pin requirements exactly (using ==). This prevents unexpected upgrades breaking the code
#  - Always include dependencies of packages. We install with --no-deps to prevent version clashes between dependencies
#  - Put an empty line and comment line above each requirement, with the dependencies directly underneath

# Django
Django==2.2.21
pytz==2019.1
sqlparse==0.3.0

# Scientific calculations
numpy==1.16.4
