# Requirements for running the test suite.
# Conventions:
#  - Always pin requirements exactly (using ==). This prevents unexpected upgrades breaking the code
#  - Always include dependencies of packages. We install with --no-deps to prevent version clashes between dependencies
#  - Put an empty line and comment line above each requirement, with the dependencies directly underneath


# testing
pytest==5.0.1
pytest-django==3.5.1
freezegun==0.3.12
python-dateutil==2.7.5
six==1.12.0
